node_modules/
.env
uploads/*
!uploads/.gitkeep
!uploads/gallery/
uploads/gallery/*
!uploads/gallery/*.jpeg
!uploads/gallery/*.jpg
!uploads/gallery/*.png
!uploads/gallery/*.webp
*.log
.DS_Store
Thumbs.db
dist/
